{
	padding: 0;
	margin:0; 
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.all{
	width: 100%;
	background-color:#f9f9f9;
}
.head{
	position: relative;
	display: block;
	width: 100%;
	height: 150px;
	background-color: white;

}
.heads{
	width: 1200px;
	margin-right: auto;
    margin-left: auto;
}
.logo{
	float: left;
    width: 50%;
}
.logo1{
	position: absolute;
    top: 5px;
    z-index: 1055;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    vertical-align: middle;
}
.word{
	float: left;
    width: 50%;
    padding-top: 10px;
}
.w1{
	font-size: 22px;
	color: #0b4199;
}
.w2{
	padding-left: 25px;
	color: #7d7d7d;
	font-size: 16px;
}
.w3{
	padding-left: 16px;
	color:#ef2c34;
	font-size: 16px;
}
.w4{
	color:#9a9a9a;
	font-size:16px;
}
.guide{
	width: 945px;
	height: 55px;
	float: left;
	margin-top: 22.5px;
}
.option{
	color: #434343;
	font-size: 16px;
	text-align: center;
	padding: 10px 50px 10px 0px;
}
.option1{
	background-color: #2756a4;
	width: 80px;
	height: 50px;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 10px 0px 10px 0px;
	margin-right:50px;
}
.search{
	width: 170px;
	height: 37px;
	float: left;
	margin-top: 18px;
	background-color: #ebeaea;
}
.search input{
	border:none;
	padding-left: 10px;
    outline: medium;
    background-color: #ebeaea;
    width: 35px;
    height: 20px;
    float: left;
    padding-top: 8px;
    font-size: 15px;
}
.nav{
	width: 100%;
	background-color: white;
}
.conhead{
	height: 200px;
	width: 1200px;
	margin: 0 auto;
}
.o1{
	color: #666666;
	font-size: 14px;
}
.o2{
	font-size: 14px;
	color: #2756a4;
}
.o3{
	font-size: 24px;
	color: #3e3e3e;
	line-height: 10px;
}
.o4{
	font-size: 14px;
	color: #666666;
	padding-bottom: 8px;
	line-height: 10px;
}
.edu{
	width: 1200px;
	height: 1428px;
	margin:0 auto;
}
.top{
	width: 1200px;
	height: 595px;
	margin: 0 auto;
}
.tole{
	width: 320px;
	margin:20px 60px 0px 28px;
	height: 575px;
	display: inline-block;
	float: left;
}
.tori{
	width: 765px;
	height: 595px;
	display: inline-block;
}
.bot{
	width: 1200px;
	height: 702px;
	margin:0 auto;
}
.single{
	width: 382px;
	height: 702px;
	display: inline-block;
	float: left;
}
.sto{
	width: 382px;
	height: 550px;
	background-color: #f2f2f2;
}
.im{
	width: 362px;
	height: 208px;
	margin: 0px 10px 18px 10px;
	padding-top: 10px;
}
.wo{
	font-size: 16px;
	color:#3c3c3c;
	margin:0px 10px 0px 10px;
}
.sbo{
	width: 382px;
	height: 110px;
	background-color: #2555a4;
	margin-top: 60px;
}
.wo1{
	color: white;
	padding-top: 40px;
	padding-left: 120px;
}
.tu{
	width: 100%;
	height:60px;
	background-color: #0b4199;
	margin-top: 113px;
}
.tu1{
	width: 1200px;
	height: 60px;
	margin:0 auto;
}
.tu2{
	width: 171px;
	height: 60px;
	display: inline-block;
}
.tu3{
	width: 184px;
	height: 60px;
	margin-left: 150px;
	display: inline-block;
}
.tu4{
	margin-left: 300px;
	height: 60px;
	width: 219px;
	display: inline-block;
	float: right;
}
.tu4 img{
	margin:0;
	vertical-align: middle;
}
.foot{
	width: 100%;
	height:305px;
	background-color: #454545;
}
.footer{
	width: 1200px;
	height: 305px;
	margin:0 auto;
}
.foot1{
	height: 200px;
	width: 120px;
	display: inline-block;
	float: left;
}
.sw{
	padding-top: 30px;
	padding-bottom: 35px;
	font-size: 16px;
	color: #dbdbdb;
}
.xw{
	font-size: 14px;
	color: #dbdbdb;
}
.foot2{
	height: 210px;
	width: 187px;
	display: inline-block;
	float: left;
	border-right: 1px solid #525252;
	margin-top: 44px;
}
.sw1{
	padding-bottom: 35px;
	font-size: 16px;
	color: #dbdbdb;
}
.foot3{
	height: 210px;
	width: 290px;
	display: inline-block;
	float: left;
	margin-top:30px;
}
.foot4{
	float: left;
	width: 1200px;
	height: 33px;
}
.f4{
	display: inline-block;
	font-size: 12px;
	color: #dbdbdb;
}